@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-DMsans: "DM Sans", sans-serif;
  --font-playfire: "Playfair Display", serif;
}

@theme {
  --color-cream09: #fffbf5;
  --color-ivory19: #f7f3ed;
  --color-warm-white29: #fefcf9;
  --color-gold39: #b8860b;
  --color-gold-light49: #d4a853;
  --color-gold-dark59: #8b6914;
  --color-charcoal69: #1c1c1c;
  --color-charcoal-soft79: #212020;
  --color-taupe89: #a69080;
  --color-taupe-light99: #c4b5a5;
}
@layer components {
  .paraCSS {
    @apply text-taupe-light99 text-lg my-4;
  }
  .img-transform {
    @apply w-full h-full transition-transform hover:scale-110 duration-700 ease-in-out object-cover object-center;
  }
  .bres-width {
    @apply w-20 lg:w-25 md:m-2 lg:m-4 lg:mx-8 text-center;
  }
  .paracss2 {
    @apply text-taupe89  my-2;
  }
}
body {
  font-family: var(--font-DMsans);
  color: var(--color-charcoal69);
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-cream09);
}
html {
  scroll-behavior: smooth;
}

.menubtn {
  display: none;
  margin-right: 10px;
}

@media (max-width: 700px) {
  .menubtn {
    display: block; /* or inline-block / flex depending on your layout */
  }
}
